   <div class="row">
      <div class="large-12 columns text-center animated bounceIn">
        <h1>WELCOME</h1>
        <h2 class="animated fadeIn">to my</h2>
        <h3 class="animated rubberBand">COOL shop! </h3>
         <h3 class="animated rubberBand">Here you can buy many cool fignya's </h3>
             <h3 class="animated rubberBand hvr-pulse"> NOW START </h3>
      </div>
    </div>

    <div class="row">
    	<div class="large-12 columns text-center ">
	    	<a class="large button but1" href="/signup">Signup</a>
	    	<a class="large button but2" href="/signin">Signin</a>
    	</div>
    	
    </div>


        <div class="row footer">
    	<div class="large-12 columns text-center ">
	    <h3>Created and Designed by Farrahov Aidar (c) inc</h3>
    	</div>
    	
    </div>